body {
    margin:0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #6c7279;
    /* background-color: black; */
-webkit-flow-into: inherit;
}

*,
*:before,
*:after
{
   box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 10px;
}

/* Container
********/
.container{
    width: 100%;
    max-width: 1200px ;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
********/


.header{
    height: 100px;
    padding: 35px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    
}

.header__inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
}

.nav{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    

}

.nav_link{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: .2s linear;
}

.nav_link:child{
    margin-left: 0;

}
.nav_link:hover{
    text-decoration: underline;
    opacity: 1;
}


/* intro
********/

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 750px;
    background: #31344e url("img/intro-bg.jpg") center no-repeat;
}

.intro_inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}
.intro_title{
    margin: 0 0 30px;
    font-family: 'Open Sans',
    sans-serif;
    font-size:65px;
    line-height: 71px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    
}

.intro_subtitle{
    margin-bottom: 60px;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/* Button
=================*/

.btn{
    padding: 14px 40px;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .2s linear;
    text-align: center;
}

.btn--red{
    background-color: red;
}

.btn--red:hover{
    background-color: #dd3434;
}

.btn--long{
    min-width: 280px;
}

/* Features
=================*/

.features{
    display: flex;
    margin:100px 0;
    flex-wrap: wrap;
}

.features__item{
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;
    text-align: center;
}

.features__icon{
    margin-bottom: 20px;

}

.features__title{
    margin-bottom: 15px;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text{
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/* Works */
.works{
    display: flex;
    flex-wrap: wrap;
}

.works_item{
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.works_item:hover .works_content{
opacity: 1;

}

.works_photo{

    position:absolute;
    top:50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.works_content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color:rgba(232, 69, 69, .9);
   opacity: 0;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    transition: opacity 0.3s linear;

}

.works_title{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.works_text{
    color: #fff;
    font-size: 14px;
}

/* Team */

.team{
    margin: 100px 0 70px;
}

.team_inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team_photo{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team_name{
    margin-top: 8px ;
    font-size: 22px;
    color: #2d3033;
}

.team_prof{
    margin-bottom: 15px;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team_text{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    color:#6c7279;
}

/* Social
=========== */

.social{
    display: flex;

}

.social--footer{
    display: flex;
    justify-content: center;
    
}


.social_item{
    transition:backgroung 1s linear ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    background-color: #fff;

}

.social_item:hover{
    background-color: #e8ecee;

}

.social--footer .social_item{
    background-color: transparent;
    border-width: 20px;
    border-color: #fff;
    border-radius: 2px;
    
}


.social--footer .social_item:hover{
    background-color: yellowgreen;
}

/* Reviews
=========== */

.reviews{
    background-color: #53354a;
}

.reviews_item{
    flex-wrap: wrap;
    display: flex;
}

.reviews_photo{
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews_img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

}

.reviews_content{
    width: 50%;
    display: flex;
    padding-left: 80px;
    flex-direction: column;
    justify-content: center;
}

.reviews_text{
    margin-bottom: 25px;
    font-family: 'Cardo', 'sans-serif';
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    
}

.reviews_author{
    color:#fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

}

/* Downloads
=========== */

.download{
    margin: 90px 0;
    text-align: center;
}

.download_title{
    margin-bottom: 10px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}

.download_text{
    margin-bottom: 30px;
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

/* Footer
=========== */

.footer{
    background-color: #3a3e64;
}

.footer_inner{
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer_block{
    width:33.33333%;
    text-align: center;
    padding:0 15px;
}

.footer_title{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.footer_adress{
    font-style: normal;
    line-height: 1.5;
    font-size: 14px;
   color: rgba(255,255,255, .5);
}

.footer_text{
    line-height: 1.5;
    font-size: 15px;
   color: rgba(255,255,255, .5);
}

.footer_copyright{
    padding: 20px 0;
    background-color: #313454;

}


/* Copyright */

.copyright{
    padding: 20px 0;
    background-color: #313454;
}

.copyright_text{
    line-height: 1.5;
    color: #808080;
    text-align: center;
    font-size: 14px;
}

.copyright_text span{
    color:#fff;
}